alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias lh='ls -lrth'
alias lz='ls -lrSh'
alias fucking='sudo'
alias fuckin='sudo'
alias fuckyouintellij="ibus-daemon -rd"
alias gt='gst'
alias gdd='git difftool'
